<html>

<head>
  <meta charset="utf-8">
  <title>PaintedCup</title>
  <link rel="stylesheet" href="../assets/css/style.css">
  <link rel="stylesheet" href="../assets/css/bootstrap.css">
  
</head>

<body>

  <h2>
    <center> Enjoy </center>
  </h2>
  <div class="container">
    <div class="row text-center">
      <div class="col-md-2">
        <div class="color col-md-6 col-xs-3" id="blue"></div>
        <div class="color col-md-6 col-xs-3" id="red"></div>
        <div class="color col-md-6 col-xs-3" id="green"></div>
        <div class="color col-md-6 col-xs-3" id="orange"></div>
        <div class="color col-md-6 col-xs-3" id="black"></div>
        <div class="color col-md-6 col-xs-3" id="brown"></div>
        <div class="color col-md-6 col-xs-3" id="purple"></div>
        <div class="color col-md-6 col-xs-3" id="lightblue"></div>
        <div class="color col-md-6 col-xs-3" id="pink"></div>
        <div class="color col-md-6 col-xs-3" id="yellow"></div>
      </div>
      <div class="col-md-8">
        <canvas id="myCanvas" width="700" height="375"></canvas>
      </div>
    </div>
  </div>
  <h3>
    <center>&copy Muhammad Taufik Adianto.</center>
  </h3>
  
  <script src="../assets/js/jquery.js"></script>
  <script src="../assets/js/CanvasMewarnai.js"></script>
  <script src="../assets/js/Canvas.js"></script>
  
</body>

</html>