<html>

<head>
  <meta charset="utf-8">
  <title>PaintedCup</title>
  <link rel="stylesheet" href="../assets/css/style.css">
  <link rel="stylesheet" href="../assets/css/bootstrap.css">
</head>

<body>
  <div align="center" class="container">
    <h2> Painted Cup</h2>
    <a style="color:black" href="kategori/tampilan1.html">
      <strong> Kategori Bidang Datar </strong>
    </a>
    <br/>
    <a style="color:black" href="kategori/tampilan2.html">
      <strong> Kategori Binatang </strong>
    </a>
    <br/>
    <a style="color:black" href="kategori/tampilan3.html">
      <strong> Kategori Kendaraan </strong>
    </a>
  </div>

  <h3>
    <center>&copy Muhammad Taufik Adianto.</center>
  </h3>
</body>

</html>
