<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title> PaintedCup </title>
  <link rel="stylesheet" href="../../assets/css/style.css">
  <link rel="stylesheet" href="../../assets/css/bootstrap.css">
</head>

<body>
  <h2>
    <center> Enjoy </center>
  </h2>

  <!-- Untuk link ke halaman selanjutnya jika gambar di klik -->
  <div class="gambar1">
    <img id="img" src="../../assets/img/11.png" alt="gambar">
    <img id="img" src="../../assets/img/12.png" alt="gambar">
    <img id="img" src="../../assets/img/13.png" alt="gambar">
    <img id="img" src="../../assets/img/index.png" alt="gambar">
    <img id="img" src="../../assets/img/index1.png" alt="gambar 1">
    <img id="img" src="../../assets/img/index2.png" alt="gambar 2">
    <img id="img" src="../../assets/img/index3.png" alt="gambar 3">
    <img id="img" src="../../assets/img/12.jpg" alt="gambar 3">
  </div>

  <h3>
    <center>&copy Muhammad Taufik Adianto.</center>
  </h3>

  <script src="../../assets/js/jquery.js"></script>
  <script src="../../assets/js/Canvas.js"></script>
</body>

</html>